.wrapper {
    border: 4px solid darkslategray;
    width: 500px;
    height: 500px;
    background-color: black;
}

.heading {
    background-color: gray;
    padding: 15px;
    border-bottom: 4px solid darkslategray;
    font-size: 15pt;
    color: whitesmoke;

}

.message {
    padding: 10px 10px;
    color: green;
    white-space: pre-wrap;

    
}